@charset "utf-8";

/* Theme Colors */
$primary: #822924;
$secondary: #12141b;

$nav-background: #2a2f36;
$background: #2a2f36;


/* My Custom Classes */
div {
  word-break: break-word !important;
}


.section-heading {
  font-size: 1.75rem;
  color: white;
  margin-top: 16px;
  margin-bottom: 64px;
}

.subtitle {
  font-size: 1.5rem;
  color: white;
}

.title {
  margin-bottom: 32px;
  font-size: 3rem;
  color:  white;
}
